.color-picker {
  display: inline-block;
}

.color-picker-content {
  background-color: #edf2ef;
}

.color-picker-grid {
  display: flex;
  margin: 10px 0px 20px 0px;
}

.color-picker-selection-area {
  padding-top: 10px;
  align-items: center;
}

.color-group > *:not(:last-child) {
  margin-right: 10px;
}

.color-option {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.selection-box {
  border: 1px solid #c8ccca;
  padding: 5px;
  text-align: center;
  width: 90%;
}
