.color-picker {
  display: inline-block;
}

.color-picker-content {
  background-color: #edf2ef;
}

.color-picker-grid {
  display: flex;
  margin: 10px 0px 20px 0px;
}

.color-group > :not(:last-child) {
  margin-right: 10px;
}

.color-option {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-sizing: border-box;
  cursor: pointer;
  outline: none;
}
.color-option.selected {
  border: 2px solid black;
}
.color-option:focus {
  outline: 2px solid #ccc;
}

.color-picker-selection-area {
  padding-top: 10px;
  align-items: center;
}

.selection-box {
  border: 1px solid #c8ccca;
  padding: 5px;
  text-align: center;
  width: 90%;
}

/* Responsive Design */
@media (max-width: 480px) {
  .color-picker {
    display: inline-block;
  }

  .color-picker-grid {
    display: flex;
    justify-content: space-evenly;
    margin: 10px 0px 20px 0px;
  }

  .color-option {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-sizing: border-box;
    cursor: pointer;
    outline: none;
  }
}

@media (max-width: 350px) {
  .color-option {
    width: 25px;
    height: 25px;
  }
}
